.wrap1 {
    width: 1080px;
    margin: 0 auto;
    height: 1095.5px;
}

.right-context1 {
    width: 855px;
    height: 1043.5px;
    /* background-color: aqua; */
    margin-right: -25px;
}

.right-ul {
    width: 100%;
    height: 100%;
}

.right-item {
    width: 260px;
    height: 204px;
    background-color: rgb(243, 244, 248);
    overflow: hidden;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 25px 25px 0 0;
}

.right-item:hover {
    background-color: #539300;
}

.item-context {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.line {
    width: 830px;
    border-top: 1px solid #e8e8e8;
    float: left;
    margin-top: 20px;
}

.products-page {
    text-align: center;
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E8E8E8;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.link-page{
    font-family: Verdana;
font-size: 12px;
font-weight: bold;
color: #FFFFFF;
text-decoration: none;
background-color: #666666;
margin: 0px;
padding-top: 5px;
padding-right: 7px;
padding-bottom: 5px;
padding-left: 7px;
}